[submodule ".cache/dein/repos/github.com/Shougo/dein.vim"]
	path = .cache/dein/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim.git
[submodule ".themes/elementary-x"]
	path = .themes/elementary-x
	url = https://github.com/surajmandalcell/elementary-x.git
[submodule ".icons/la-captaine"]
	path = .icons/la-captaine
	url = https://github.com/keeferrourke/la-capitaine-icon-theme.git
[submodule ".themes/Ant"]
	path = .themes/Ant
	url = https://github.com/EliverLara/Ant.git
[submodule ".themes/Juno"]
	path = .themes/Juno
	url = https://github.com/EliverLara/Juno
[submodule ".themes/Nordic-Polar"]
	path = .themes/Nordic-Polar
	url = https://github.com/EliverLara/Nordic-Polar
[submodule ".themes/Sweet"]
	path = .themes/Sweet
	url = https://github.com/EliverLara/Sweet
[submodule ".themes/Nordic"]
	path = .themes/Nordic
	url = https://github.com/EliverLara/Nordic
