[core]
	autocrlf = input
[user]
	name = borley1211
	email = km.isetan@gmail.com
[credential]
	helper = manager
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
    required = true
[url "github:"]
    InsteadOf = https://github.com/
    InsteadOf = git@github.com:
