[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
[user]
	name = borley1211
	email = km.isetan@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
    required = true
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = !gh auth git-credential
[safe]
	directory = /Applications/Adobe Illustrator 2024/Presets.localized/ja_JP/スクリプト/ai_scripts---chihh_i
	directory = /Applications/Adobe Illustrator 2024/Presets.localized/ja_JP/スクリプト/control_handles_with_numerical_values---gau
	directory = /Applications/Adobe Illustrator 2024/Presets.localized/ja_JP/スクリプト/rounding-color-values---gau
