[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
ipykernel = "*"
ipywidgets = "*"
isort = "*"
jedi = "*"
jupyter = "*"
jupyterlab = "*"
jupyterlab-black = "*"
mypy = "*"
neovim = "*"
notebook = "*"
nptyping = "*"
vim-vint = "*"
yapf = "*"
python-language-server = {extras = ["all"],version = "*"}

[packages]
numpy = "*"
poetry = "*"
ptpython = "*"
py = "*"
pydocstyle = "*"
pytest = "*"
python-dateutil = "*"
python-jsonrpc-server = "*"
regex = "*"
requests = "*"
requests-toolbelt = "*"
scipy = "*"
six = "*"
sounddevice = "*"
Cython = "*"
ipython_genutils = "*"
Pillow = "*"
pygments = "*"
PySoundFile = "*"
PyYAML = "*"
hatch = "*"
youtube-dl = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
