[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
autopep8 = "*"
flake8 = "*"
ipykernel = "*"
ipython = "*"
ipywidgets = "*"
isort = "*"
jedi = "*"
jupyter = "*"
jupyterlab = "*"
jupyterlab-black = "*"
jupyterlab-server = "*"
mypy = "*"
mypy-extensions = "*"
nbconvert = "*"
nbformat = "*"
neovim = "*"
notebook = "*"
nptyping = "*"
vim-vint = "*"
yapf = "*"
python-language-server = {extras = ["all"],version = "*"}

[packages]
certifi = "*"
cffi = "*"
future = "*"
numpy = "*"
pandocfilters = "*"
pipenv = "*"
poetry = "*"
ptpython = "*"
py = "*"
pycodestyle = "*"
pycparser = "*"
pydocstyle = "*"
pytest = "*"
python-daemon = "*"
python-dateutil = "*"
python-jsonrpc-server = "*"
python-language-server = "*"
regex = "*"
requests = "*"
requests-toolbelt = "*"
scipy = "*"
shellingham = "*"
six = "*"
sounddevice = "*"
stft = "*"
CacheControl = "*"
Cython = "*"
ipython_genutils = "*"
Jinja2 = "*"
MarkupSafe = "*"
Pillow = "*"
Pygments = "*"
PySoundFile = "*"
PyYAML = "*"
hatch = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
